<h1>Test results for your browser</h1>
{{#each formattedResults}}
  <h3>{{name}}</h3>
  <div class="results-table">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="first-cell"></th>
        <th class="browser">
          <img src="img/browser-Android-generic.png" alt="Generic browser logo"/>
          <span class="browser-name">Your browser</span>
          <span class="muted">({{../uaString}})</span>
        </th>
      </tr>
      </thead>
      <tbody>
      {{#each results}}
      <tr>
        <th class="category" colspan="2">{{name}}</th>
      </tr>
        {{#each results}}
          <tr>
            <th class="api-name">
              {{#if specification}}
                  <a href="{{specification}}" target="_blank" rel="nofollow">{{name}}</a>
              {{else}}
                  {{name}}
              {{/if}}
            </th>
            <td class="{{#if supported}}supported{{else}}unsupported{{/if}}">
              {{#if supported}}&#10003;{{else}}&#10007;{{/if}}
            </td>
          </tr>
        {{/each}}
      {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}